# model validation
deepchecks==0.9.1
# modeling
scikit-learn==1.1.3
tensorflow==2.9.1
transformers==4.24.0
torch==1.13.0
torchvision==0.14.0
torchtext==0.14.0
torchaudio==0.13.0
# model optimization
# https://huggingface.co/docs/optimum/installation
optimum==1.5.1
# model metrics
# https://github.com/huggingface/evaluate
evaluate==0.3.0
